
$mainColor: #fff;

body {
	overflow-x: hidden;
}

div {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 100%;
	padding: 0 .3rem;
	box-sizing: border-box;
}

/* 垂直水平居中flex布局 */
.flex-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}


/* 单行文字溢出隐藏 */
.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

// 图片居中
.center-img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	max-width: 100%;
}

.clearfix {}

.clearfix::after {
	content: '';
	clear: both;
}

/* 多行文字溢出隐藏 */
@mixin many-ellipsis($colum) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $colum;
	overflow: hidden;
}

/* 弹出层 */
.popup {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
}
.popup-mask {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .4);
}
	
// 底部导航
.foot-nav {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1.73rem;
	box-sizing: border-box;
	background-color: #ffffff;
	box-shadow: 0rem -0.07rem 0.07rem 0rem 
		rgba(0, 0, 0, 0.05);
}
.foot-nav .num {
	position: absolute;
	top: -10%;
	right: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0.31rem;
	height: 0.31rem;
	color: #fff;
	background-color: #e12a2a;
	font-size: 0.24rem;
	border-radius: 50%;
}

/*iphoneX 底部黑条*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	/*导航操作栏上移*/
	.foot-nav,
	.buy-nav,
	.exten-list,
	.cart-nav,
	.bottom-nav
	{
		padding-bottom: 0.64rem !important;
	}
}

/* 首页 */
.index-header {
	padding-top: .3rem;
	background: url('../images/index-bg.png') no-repeat center 0 #fff;
	background-size: 100%;
}

.logo {
	width: 2.04rem;
}
.search-wrap {
	
}
.search {
	width: 7.15rem;
	margin-left: auto;
	height: 0.83rem;
	background-color: #ffffff;
	border-radius: 0.42rem;
	padding: 0 .3rem;
	align-items: center;
	box-sizing: border-box;
	.search-icon {
		width: 0.31rem;
		margin-right: .17rem;
		height: 0.31rem;
	}
	
	input {
		font-size: .32rem;
	}
}

.index-banner {
	margin-top: .25rem;
	img {
		display: block;
		width: 100%;
		border-radius: 0.8rem;
	}
	.swiper-pagination-bullet {
		width: 0.34rem;
		height: 0.09rem;
		background-color: #ffffff;
		border-radius: 0.03rem;
		opacity: 0.6;
	}
	.swiper-pagination-bullet-active {
		opacity: 1;
	}
}

.menu-list {
	padding: .4rem;
	flex-wrap: wrap;
	background: #fff;
	.menu-item {
		width: 25%;
		text-align: center;
		font-size: 0.33rem;
		margin-bottom: .35rem;
		&:nth-child(2) .icon-wrap {background-color: #fec6c2;}
		&:nth-child(3) .icon-wrap {background-color: #d2eafd;}
		&:nth-child(4) .icon-wrap {background-color: #d4ef9d;}
		&:nth-child(5) .icon-wrap {background-color: #faf4af;}
		&:nth-child(6) .icon-wrap {background-color: #ebddd5;}
		&:nth-child(7) .icon-wrap {background-color: #ebd4f9;}
		&:nth-child(8) .icon-wrap {background-color: #f2f2f2;}
	}
	.icon-wrap {
		padding-top: .25rem;
		margin: 0 auto .23rem auto;
		width: 1.57rem;
		height: 1.57rem;
		border-radius: 50%;
		background-color: #ffe38f;
		overflow: hidden;
	}
	img {
		max-width: 90%;
		display: block;
		margin: 0 auto;
	}
}

.notice-wrap {
	width: 9.27rem;
	padding: 0 .3rem;
	height: 1.15rem;
	margin: 0 auto;
	margin-top: -.575rem;
	background-color: #ffffff;
	border-radius: 0.09rem;
	border: solid 0.01rem #eeeeee;
	font-size: .3rem;
	color: #626262;
	& > img {
		width: 2.33rem;
	}
	.notice-swiper {
		height: 0.4rem;
		padding-left: .2rem;
	}
}

.adver-wrap {
	padding-top: .2rem;
	position: relative;
}
.index-bg2 {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}
.advertise-img {
	position: relative;
	z-index: 2;
	width: 100%;
	display: block;
}


.list-swiper {
	background: #fff;
	padding: .3rem;
	height: 3rem;
	
	.swiper-slide {
		margin-right: .27rem;
		padding: .15rem;
		width: 2.96rem;
		height: 100%;
		position: relative;
		text-align: center;
		border-radius: 0.19rem;
		h2 {font-size: .41rem; font-weight: bold; margin-bottom: 0;}
		p {font-size: .3rem;}
		background-size: cover;
		background-position: center; 
		&:nth-child(1) {
			background-image: url(../images/nav-bg1.png);
			h2 {color: #eb692b;}
			p {color: #ea7941;}
		}
		&:nth-child(2) {
			background-image: url(../images/nav-bg2.png);
			h2 {color: #8374ea;}
			p {color: #9d91ee;}
		}
		&:nth-child(3) {
			background-image: url(../images/nav-img3.png);
			h2 {color: #eb5d83;}
			p {color: #ed7597;}
		}
	}
}

.tab-swiper {
	.swiper-slide {
		padding: .3rem 0;
		position: relative;
		text-align: center;
		font-size: .4rem;
		width: 2.3rem;
		&::after {
			position: absolute;
			content: '';
			right: 0;
			width: 1px;
			height: 0.46rem;
			background-color: #dfdfdf;
			top: 50%;
			transform: translateY(-50%);
		}
		&:last-child::after {display: none;}
		&.active {
			color: #e51628;
		}
		&.active::before {
			position: absolute;
			content: '';
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 0.77rem;
			height: 0.07rem;
			background-image: linear-gradient(90deg, 
				#e21e2e 0%, 
				#f44150 100%);
			border-radius: 0.02rem;
		}
	}
}

.pro-list {
	padding: .3rem;
	flex-wrap: wrap;
}
.pro-item {
	padding: .25rem;
	width: 4.55rem;
	margin-right:  .3rem;
	&:nth-child(even) {
		margin-right: 0;
	}
	background: #fff;
	position: relative;
	margin-bottom: .28rem;
}
.pro-img {
	display: block;
	max-width: 90%;
	margin: 0 auto;
}
.pro-name {
	padding: .2rem 0;
	font-size: .32rem;
	@include many-ellipsis(2);
}
.pro-bottom {
	flex-wrap: nowrap;
	padding-bottom: .15rem;
}
.pro-price {
	font-size: .48rem;
	color: #ff0000;
	font-weight: bold;
	span {font-size: .35rem;}
}
.pro-btn {
	width: 1.76rem;
	height: 0.56rem;
	font-size: .3rem;
	color: #fff;
	justify-content: center;
	margin-left: auto;
	background-image: linear-gradient(90deg, 
		#e1552a 0%, 
		#e12a2a 100%);
	box-shadow: 0.04rem 0.03rem 0.04rem 0rem 
		rgba(220, 124, 0, 0.16);
	border-radius: 0.28rem;
}
.pro-tag {
	position: absolute;
	top: 0;
	left: 0;
	width: 1.7rem;
	text-align: center;
	background-image: linear-gradient(90deg, 
		#fc5f35 0%, 
		#fd9855 100%);
	border-radius: 0 0 0.37rem 0;
	font-size: .24rem;
	color: #fff;
	text-align: center;
	padding: .1rem 0;
}
.discount-tag {
	background-image: linear-gradient(90deg,
		#c08dfc 0%, 
		#e88cfa 100%);
}


.foot-nav {
	height: 1.3rem;
	// padding: .17rem .06rem;
	box-sizing: content-box;
	.nav-item {
		position: relative;
		flex: 1;
		text-align: center;
		font-size: .29rem;
		color: #000;
	}
	img {
		width: 0.57rem;
		height: 0.57rem;
		display: block;
		margin: 0 auto;
		margin-bottom: .05rem;
	}
	.active-icon {
		display: none;
	}
	.active {
		color: #de3c43;
		.normal-icon {display: none;}
		.active-icon {display: block;}
	}
}


.side-nav {
	position: fixed;
	z-index: 10;
	right: .2rem;
	bottom: 3.1rem;
	.nav-item {
		width: 1.26rem;
		height: 1.26rem;
		background-color: rgba(0,0,0, .15);
		text-align: center;
		line-height: 1.26rem;
		border-radius: 0.28rem;
		margin-bottom: .1rem;
	}
	img {
		display: block;
		margin: 0 auto;
		width: 0.71rem;
	}
	.nav-item:last-child img {
		width: 0.42rem;
	}
}

/* 2-分类 */
.class-wrap {
	background: #f1f2f7;
	align-items: flex-start;
	flex-wrap: nowrap;
	height: calc(100vh - 3.15rem);
	overflow-y: scroll;
}
.class-header {
	padding-top: .2rem;
	background: #e12a2a;
}
.total-num {
	margin-top: .28rem;
	padding: .4rem .3rem;
	font-size: .32rem;
	color: #b3b3b3;
	border-radius: 0.19rem .19rem 0 0;
	background: #fff;
	width: calc(100% + .6rem);
	transform: translateX(-.3rem);
}

.class-nav {
	width: 1.81rem;
	font-size: .33rem;
	color: #000;
	background: #fff;
	height: calc(100vh - 3.15rem);
	.swiper-slide {
		text-align: center;
		height: 1.37rem !important;
		border: solid 0.01rem #f8f8f8;
		background: #fff;
		line-height: 1.37rem;
		&.active {
			color: #d02323;
			background: #F1F2F7;
		}
	}
}
.class-right {
	width: calc(100% - 1.81rem);
	height: calc(100vh - 3.15rem);
	padding: .15rem;
	.class-banner {
		img {
			border-radius: 0.19rem;
			width: 100%;
			
		}
		.swiper-pagination-bullet {
			width: 0.34rem;
			height: 0.09rem;
			background-color: #ffffff;
			border-radius: 0.03rem;
			opacity: 0.6;
		}
		.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}
}

.class-right {
	.pro-list{
		padding: .3rem 0;
		
		padding-bottom: 2rem;
	}
	.pro-item {
		width: 3.85rem;
		margin-right: .15rem;
	}
	.pro-price {
		font-size: .41rem;
		span {font-size: .3rem;}
	}
	.pro-tag {
		width: 1.33rem;
		padding: .08rem 0;
	}
	.pro-item:nth-child(even) {
		margin-right: 0;
	}
	
}

/* 热卖区 */
.hot-header {
	padding-top: .2rem;
	background: url(../images/hot-banner.png) center no-repeat;
	background-size: cover;
	height: 6.1rem;
}

.filter {
	position: relative;
	margin-top: -.2rem;
	&::after {
		display: none;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		background: rgba(0,0,0, .5);
		height: 400vh;
		width: 100%;
		border-radius: .2rem;
	}
	&.active {
		.filter-tag-list {display: flex;}
		&::after {display: block;}
	}
}
.filter-tab {
	border-radius: .19rem .19rem 0 0;
	background: #fff;
	padding: .3rem 0;
	box-shadow: 0rem 0.03rem 0.06rem 0rem 
			rgba(0, 0, 0, 0.05);
	position: relative;
	z-index: 3;
	.tab-item {
		flex: 1;
		text-align: center;
		font-size: .35rem;
		display: flex;
		justify-content: center;
		align-items: center;
		img {width: .2rem; margin-left: .15rem;}
		&.active {color: #e21f00;}
		.active-icon {display: none;}
		&.active .normal-icon {display: none;}
		&.active .active-icon {display: block;}
	}
}

.filter-tag-list {
	display: none;
	position: relative;
	z-index: 2;
	padding: .5rem 0 0 0;
	justify-content: space-around;
	background: #fff;
}
.filter-tag {
	width: 2.86rem;
	height: 0.79rem;
	line-height: .79rem;
	font-size: .33rem;
	text-align: center;
	margin-bottom: .5rem;
	background-color: #f2f2f2;
	border-radius: 0.37rem;
	border-radius: .02rem solid transparent;
	&.active {
		border: solid 0.02rem #de4028;
		background-color: #f9edeb;
		color: #dc361c;
	}
}
.pro-list {
	background: #F1F2F7;
}
.pro-num {
	padding: .3rem;
	padding-bottom: 0;
	font-size: .32rem;
	color: #b3b3b3;
	// margin-bottom: .3rem;
	width: 100%;
}

.tehui-header {
	background-image: url(../images/tehui-banner.png);
}


/* 4-搜素 */
.search-header {
	padding: .2rem .4rem;
	border-bottom: 1px solid #f5f5f5;
	.search {
		width: 8.51rem;
		background-color: #f5f5f5;
		border-radius: 0.28rem;
		opacity: 0.95;
	}
}
.back-btn {
	img {
		width: 0.27rem;
		height: 0.46rem;
	}
}
.hot-search {
	font-size: .35rem;
	padding: .4rem;
	font-weight: bold;
}

.hot-list {
	flex-wrap: wrap;
}
.hot-item {
	font-size: .33rem;
	padding: .15rem .4rem;
	background-color: #f6f6f6;
	border-radius: 0.23rem;
	margin: 0 .3rem;
	margin-bottom: .25rem;
}



/* 详情 */
.detail-body {
	padding-bottom: 1.32rem;
}

.detail-banner {
	height: 10rem;
	.swiper-pagination-bullet {
		width: 0.34rem;
		height: 0.09rem;
		background-color: #ffffff;
		border-radius: 0.03rem;
		opacity: 0.6;
	}
	.swiper-pagination-bullet-active {
		opacity: 1;
	}
	.back-btn {
		position: absolute;
		z-index: 3;
		width: 0.75rem;
		height: 0.75rem;
		left: .17rem;
		top: .22rem;
	}
	.share-btn {
		z-index: 3;
		position: absolute;
		width: 0.75rem;
		height: 0.75rem;
		right: .17rem;
		top: .22rem;
	}
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
}

.pro-text {
	padding: .4rem .3rem;
	.info {
		font-size: .32rem;
		color: #999;
		margin-bottom: .4rem;
	}
}

.pro-text .detail-name {
	line-height: 1.8em;
	font-size: 0.43rem;
	margin-bottom: .3rem;
	color: #000;
	.token {
		display: inline-block;
		width: 1.42rem;
		height: 0.51rem;
		color: #fff;
		font-size: .28rem;
		text-align: center;
		line-height: .51rem;
		background-image: linear-gradient(90deg, 
			#fc6137 0%, 
			#f38a45 100%);
		border-radius: 0.09rem;
	}
	
}

.head-bottom {
	font-size: .32rem;
	color: #999;
	span {margin-left: auto;}
}

.line {
	height: .26rem;
	background: #F1F2F7;
}


.select-guige {
	padding: .5rem .56rem .5rem .3rem;
	font-size: .33rem;
	border-bottom: 1px solid #f5f5f5;
	span {
		color: #000;
		font-weight: bold;
	}
	.select-btn {
		padding-left: .43rem;
		color: #393538;
		flex-grow: 1;
		img {margin-left: auto;width: 0.13rem;}
	}
}

.list-title {
	font-size: .39rem;
	padding: .37rem .3rem;
	font-weight: bold;
}
.tuijian-list {
	background: #fff;
	.pro-item {
		width: 2.99rem;
		margin-right: .2rem;
		margin-bottom: .5rem;
	}
	.pro-item:nth-child(3n) {
		margin-right: 0;
	}
	.pro-name {
		font-size: .3rem;
		padding: 0;
		margin: .1rem 0;
	}
	.pro-price {
		font-size: .36rem;
		font-weight: normal;
		span {font-size: .24rem;}
	}
}


.pro-detail {
	
}

.buy-nav {
	position: fixed;
	z-index: 5;
	bottom: 0;
	width: 100%;
	box-sizing: content-box;
	height: 1.32rem;
	background-color: #ffffff;
	box-shadow: 0rem -0.05rem 0.05rem 0rem 
			rgba(0, 0, 0, 0.05);
}

.btn-item {
	padding: .2rem 0;
	width: 2.3rem;
	justify-content: center;
	height: 0.94rem;
	color: #fff;
	font-size: .35rem;
}

.orange {
	background-color: #feac15;
	border-radius:  .47rem 0 0 .47rem;
}

.red {
	background-image: linear-gradient(270deg, 
			#f13037 0%, 
			#f16322 100%);
}
.black {
	background: #2f2f2f;
	border-radius: 0 .47rem .47rem 0;
}

.icon-item {
	flex-direction: column;
	justify-content: center;
	padding: .2rem .4rem;
	font-size: .26rem;
	color: #423e40;
	text-align: center;
	position: relative;
}

.icon-item img {
	width: .5rem;
	display: block;
	margin: 0 auto;
	margin-bottom: .12rem;
}

.icon-item .num {
	position: absolute;
	border-radius: 50%;
	width: 0.27rem;
	height: 0.27rem;
	text-align: center;
	line-height: .27rem;
	top: 10%;
	right: 19%;
	background-color: #e52e36;
	color: #fff;
	font-size: .26rem;
}

.detail-title {
	font-size: .37rem;
	color: #999;
	padding: .72rem 0;
	text-align: center;
}

.select-popup {
	display: none;
	z-index: 10;
	position: fixed;
	bottom: 0;
	width: 100%;
	transition: all 1s;
}


.mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
}

.select-head {
	align-items: flex-end;
	padding: .3rem;
	font-size: .3rem;	
	color: #999;
	border-bottom: 1px solid #F2F2F2;
}

.select-img {
	width: 2.62rem;
	height: 2.61rem;
	background-color: #ffffff;
	border: solid 1px #f2f2f2;
}


.select-text .price {
	margin-bottom: .3rem;
}

.option {
	padding: .3rem;
	border-bottom: 1px solid #F2F2F2;
}

.option-title {
	font-size: .37rem;
	margin-bottom: .3rem;
	font-weight: bold;
}

.option-item {
	width: 1.8rem;
	height: 0.73rem;
	background-color: #f4f4f4;
	border-radius: 0.05rem;
	text-align: center;
	line-height: .73rem;
	margin-right: .22rem;
	font-size: .32rem;
	color: #444;
}

.option-item.selected {
	color: #dc361c;
	border-radius: 30rpx;
	background-color: #f9edeb;
	border: solid 0.02rem #de4028;
}

.select-num {
	padding: .3rem;
	font-size: .37rem;
	font-weight: bold;
	.input-wrap {
		margin-left: auto;
	}
	.reduce-btn, .add-btn {
		display: inline-block;
		width: 0.76rem;
		height: 0.71rem;
		text-align: center;
		font-size: .39rem;
		line-height: .71rem;
		background-color: #f5f5f5;
		font-weight: bold;
		border: solid 0.01rem #edecec;
	}
	.num {
		width: 1.72rem;
		display: inline-block;
		height: 0.71rem;
		line-height: .71rem;
		text-align: center;
		background-color: #f5f5f5;
		border: solid 0.01rem #edecec;
		font-size: .39rem;
	}
}



.select-num .num {
	font-size: 41rpx;
	margin: 0 40rpx;
}

.close-btn {
	position: absolute;
	width: 0.3rem;
	right: .3rem;
	top: .4rem;
}

.select-popup .select-btn {
	text-align: center;
	font-size: 31rpx;
	color: #fff;
	width: 50%;
	height: 1.14rem;
	line-height: 1.14rem;
	font-size: .42rem;
	background-image: linear-gradient(90deg, 
			#feca27 0%, 
			#fea914 100%);
	&:last-child {
		background-image: linear-gradient(270deg, 
				#f13037 0%, 
				#f16322 100%);
	}
}

.select-content {
	border: 1px solid transparent;
	position: relative;
	z-index: 1;
	border-radius: 0.09rem .09rem 0 0;
	background: #fff;
}

.fixed-nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	padding: .3rem;
	width: 100%;
	background: #fff;
	img {
		position: absolute;
		left: .3rem;
		width: 0.26rem;
		top: .3rem;
	}
	font-size: .39rem;
	color: #8f8f8f;
	justify-content: center;
	ul {justify-content: center;}
	li {
		margin-right: .3rem;
		position: relative;
		font-weight: bold;
		&.active {
			color: #413d3f;
			&::after {
				position: absolute;
				width: 0.35rem;
				height: 0.06rem;
				background-color: #de3a41;
				border-radius: 0.02rem;
				content: '';
				bottom: -.12rem;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

.extension .popup-content {
	transform: none;
	height: 100vh;
	width: 100%;
	.close-btn {
		width: 0.61rem;
		height: 0.6rem;
		position: absolute;
		top: .53rem;
		right: 1.04rem;
	}
	.poster {
		width: 7.87rem;
		position: absolute;
		top: 47%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.exten-list {
		box-sizing: content-box;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		padding: .2rem .3rem;
		background-color: #ffffff;
		box-shadow: 0rem -0.04rem 0.04rem 0rem 
			rgba(107, 107, 107, 0.1);
		border-radius: 0.14rem .14rem 0 0;
		justify-content: space-around;
		font-size: .32rem;
		color: #666;
		text-align: center;
		.exten-item {
			flex: 1;
		}
		img {
			display: block;
			margin: 0 auto;
			width: 1.04rem;
			margin-bottom: .3rem;
		}
	}
}

/* 6-购物车 */
.cart-body {
	background: #F1F2F7;
	.title {
		font-size: .45rem;
		color: #d51918;
		text-align: center;
		padding: .3rem 0;
		background: url(../images/title-bg.png) no-repeat 28.5% center;
		background-size: 80%;
	}
}
.cart-item {
	position: relative;
	flex-wrap: wrap;
	width: 9.44rem;
	background-color: #ffffff;
	border-radius: 0.09rem;
	padding: .5rem .3rem 1.05rem .3rem;
	margin: .3rem auto;
	.cart-img {
		width: 2.02rem;
		height: 2.04rem;
		background-color: #fff;
		padding: .3rem;
		box-sizing: border-box;
		border-radius: 0.09rem;
		border: solid 0.01rem #f1f2f7;
	}
	.cart-text {
		padding-left: .27rem;
		width: 5.4rem;
	}
	.cart-name {
		font-size: .39rem;
		@include many-ellipsis(2);
		margin-bottom: .1rem;
	}
	.describe {
		font-size: .31rem;
		color: #999;
		margin-bottom: .15rem;
		padding: .1rem .3rem;
		background-color: #f4f4f4;
		border-radius: 0.05rem;
	}
	.delete-btn {
		position: absolute;
		bottom: .3rem;
		left: .3rem;
		width: 0.4rem;
		height: 0.42rem;
	}
	.select-num {
		position: absolute;
		right: .3rem;
		bottom: .3rem;
		
		span {
			text-align: center;
			width: 0.84rem;
			line-height: .59rem;
			font-size: .5rem;
			height: 0.59rem;
			font-weight: bold;
			background: transparent;
			border: none;
		}
		.num {background-color: #f5f5f5; font-size: .39rem;}
	}
	.pro-price {
		font-size: .43rem;
	}
}
.checkbox {
	width: 0.45rem;
	height: 0.45rem;
	background-color: #ffffff;
	border: solid 1px #999999;
	border-radius: 50%;
	img {
		display: none;
		width: 100%;
		height: 100%;
	}
	&.active {
		border-color: transparent;
		img {display: block;}
	}
	margin-right: .3rem;
}

.cart-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	font-size: .37rem;
	font-weight: bold;
	background-color: #ffffff;
	box-shadow: 0rem -0.05rem 0.05rem 0rem 
		rgba(0, 0, 0, 0.05);
	.checkbox {
		margin-right: .16rem;
		margin-left: .3rem;
	}
	.total {
		margin-left: 38%;
		span {color: #e91a1a;}
	}
	.buy-btn {
		margin-left: auto;
		width: 3.08rem;
		color: #fff;
		font-size: .37rem;
		line-height: 1.17rem;
		text-align: center;
		height: 1.17rem;
		background-image: linear-gradient(270deg, 
		#f13037 0%, 
		#f16322 100%);
	}
	
}


/* 支付成功 */
.success-header {
	padding: 1rem 0;
	text-align: center;
	background: #fff;
	margin-bottom: .4rem;
	img {width: 5.11rem;}
	.time {
		font-size: .31rem;
		color: #999;
		margin-top: .3rem;
	}
	.btn {
		width: 4.8rem;
		height: 1.15rem;
		display: block;
		margin: 0 auto;
		margin-top: .4rem;
		background-image: linear-gradient(90deg, 
			#f16322 0%, 
			#f13037 100%);
		border-radius: 0.57rem;
		line-height: 1.15rem;
		color: #fff;
		font-size: .42rem;
	}
	
}

/* 7-订单 */
.guamai-body {
	background: #F1F2F7;
}
.gumai-head {
	padding: .3rem;
	background: #fff;
	font-size: .35rem;
	font-weight: bold;
	span {
		font-size: .3rem;
		color: #999;
		font-weight: bold;
		margin-left: .15rem;
	}
	.switch {margin-left: auto;}
}
.switch {
	position: relative;
	width: 1.3rem;
	height: 0.56rem;
	background-color: #c2c2c2;
	border-radius: 0.28rem;
	&::before {
		content: '';
		position: absolute;
		width: 0.46rem;
		height: 0.46rem;
		background-color: #ffffff;
		box-shadow: inset 0rem 0rem 0.12rem 0rem 
			rgba(7, 0, 2, 0.2);
		border-radius: 50%;
		left: .06rem;
		top: .06rem;
	}
	&.active {
		background: #45db5e;
		&::before {
			left: auto;
			right: .06rem;
		}
	}
}

.address-wrap {
	background: url(../images/address-bg.jpg) no-repeat center;
	background-size: 100%;
	padding: .4rem .3rem;
}
.address {
	background-color: #fffffa;	
	border-radius: 0.09rem;
	padding: .6rem .3rem;
	flex-wrap: nowrap;
	.position-icon {
		width: 0.49rem;
	}
	.address-text {
		padding-left: .4rem;
		font-size: .34rem;
		color: #999;
	}
	.content {
		@include many-ellipsis(2);
	}
	.username {
		font-size: .39rem;
		color: #000;
		margin-bottom: .2rem;
	}
	.next-icon {
		margin-left: auto;
		width: 0.19rem;
	}
	
}

.guimai-list {
	margin: .3rem auto;
	padding-bottom: .4rem;
	background: #fff;
	width: 9.41rem;
	
	.cart-item {
		position: relative;
		width: 100%;
		padding: .5rem .3rem .5rem .3rem;
	}
	padding: .57rem .3rem;
	.num {
		position: absolute;
		bottom: .4rem;
		right: .4rem;
		font-size: .37rem;
		color: #999;
	}
	
	.msg {
		position: relative;
		width: 8.78rem;
		height: 1rem;
		padding-left: .3rem;
		margin: 0 auto;
		line-height: 1rem;
		font-size: .37rem;
		background-color: #f4f4f4;
		border-radius: 0.09rem;
		border: solid 1px #dadada;
		&::before {
			position: absolute;
			content: '';
			top: -.32rem;
			left: 0;
			width: 9.1rem;
			height: 0.04rem;
			background-color: #f4f4f4;
			border: solid 0.01rem #f5f5f5;
		}
	}
}

.info-item {
	background: #fff;
	padding: .5rem .3rem;
	width: 9.4rem;
	margin: 0 auto;
	font-size: .35rem;
	font-weight: bold;
	.tips {
		font-size: .3rem;
		margin-left: .3rem;
		color: #999;
	}
	.right {
		margin-left: auto;
		font-size: .33rem;
		color: #de3c43;
		img {width: 0.14rem; margin-left: .2rem;}
	}
}
.info-wrap {
	width: 9.4rem;
	margin: .3rem auto;
	padding: .56rem .3rem;
	background: #fff;
	.info-item {
		width: 100%;
		padding: 0;
		line-height: 2em;
		.black-color {color: #000;}
	}
}
.guamai-body .cart-nav {
	font-weight: normal;
	.total {
		margin-left: .52rem;
	}	
}

.token {
	.popup-content {
		position: absolute;
		bottom: 0;
		transform: none;
		padding: .4rem .3rem;
		background-color: #f1f2f7;
		border-radius: 0.09rem .09rem 0 0;
		width: 100%;
		padding-bottom: 3rem;
	}
	.close-btn {
		width: 0.3rem;
		position: absolute;
		top: .4rem;
		right: .4rem;
	}
	.title {
		font-size: .42rem;
		font-weight: bold;
		text-align: center;
	}
	.token-item {
		border-radius: 0.04rem;
		background: #fff;
		flex-wrap: nowrap;
		margin-top: .3rem;
	}
	.token-num {
		position: relative;
		width: 2.83rem;
		height: 2.16rem;
		line-height: 2.16rem;
		font-size: .95rem;
		font-weight: bold;
		text-align: center;
		background-image: linear-gradient(0deg, 
			#d52525 0%, 
			#f85151 100%);
		border-radius: 0.04rem 0rem 0rem;
		color: #fff;
		span {font-size: .56rem; font-weight: bold;}
		&.selected {
			.selected-img {display: block;}
			&::before {
				content: '';
				position: absolute;
				top: calc(50% - .12rem);
				
				left: -.12rem;
				width: 0.24rem;
				height: .24rem;
				border-radius: 50%;
				background: #F1F2F7;
			}
		}
		.selected-img {display: none;}
		.selected-img, .circle-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 0.99rem;
		}
		.circle-img {
			width: .2rem;
			left: auto;
			height: 100%;
			right: -.1rem;
		}
	}
	.token-text {
		padding-left: .33rem;
		h3 {font-size: .45rem; font-weight: bold; margin-bottom: .1rem;}
		p {font-size: .3rem; color: #666;}
	}
}


/* 8-收银台 */
.cash-body {
	background: #F1F2F7;
}
.cash-head {
	width: 9.44rem;
	margin: .3rem auto;
	background-color: #ffffff;
	border-radius: 0.09rem;
	padding: .87rem 0;
	text-align: center;
	h2 {
		font-size: .6rem;
		font-weight: bold;
		margin-bottom: .3rem;
		color: #de3c43;
	}
	.time {
		font-size: .33rem;
		span {color: #e5000a;}
	}
}

.pay-wrap {
	width: 9.44rem;
	margin: .3rem auto;
	background-color: #ffffff;
	border-radius: 0.09rem;
	.pay-item {
		padding: .42rem .65rem;
		font-size: .39rem;
		.pay-icon {width: 0.51rem; margin-right: .28rem;}
		.checkbox {margin-left: auto;}
	}
}

.bottom-btn {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	padding: 0 .4rem;
	height: 1.51rem;
	background: #fff;
	justify-content: center;
	.btn {
		width: 9.19rem;
		height: 1.06rem;
		background-image: linear-gradient(90deg, 
			#e4554e 0%, 
			#dc2829 100%), 
		linear-gradient(90deg, 
			#e4554e 0%, 
			#dc2829 100%);
		background-blend-mode: normal, 
			normal;
		border-radius: 0.53rem;
		font-size: .43rem;
		font-weight: bold;
		text-align: center;
		line-height: 1.06rem;
		color: #fff;
	}
}


/* 个人中心 */
.personal {
	background: #F1F2F7;
	.head {
		position: relative;
		padding: .55rem .4rem;
		background: url(../images/person-bg.png) no-repeat center;
		background-size: cover;
		box-sizing: border-box;
		height: 4.54rem;
	}
	
	.user-head {
		width: 1.56rem;
		height: 1.56rem;
		border-radius: 50%;
		border: 1px solid #fff;
	}
	
	.info {
		padding-left: .2rem;
	}
	
	.username {
		font-size: .5rem;
		font-weight: bold;
		color: #fff;
		margin-bottom: .3rem;
	}
	
	.user-level {
		width: 1.6rem;
		margin-left: .2rem;
	}
	
	.user-num {
		color: #fff;
		font-size: .26rem;
		color: #fff;
		span {
			display: inline-block;
			margin-right: .15rem;
			padding: .1rem .2rem;
			background: rgba(0, 0, 0, .2);
		}
	}
	
	.message {
		position: absolute;
		right: .33rem;
		top: .33rem;
	}
	
	.msg-icon {
		width: 0.44rem;
	}
	
}

.user-order {
	position: relative;
	z-index: 2;
	width: 9.44rem;
	background: #fff;
	margin: -1.2rem auto 0;
	border-radius: 0.09rem;
	box-shadow: 0.02rem 0.02rem 0.06rem 0rem 
			rgba(0, 0, 0, 0.05);
	padding: .3rem;
	h3 {
		font-size: .47rem;
		font-weight: bold;
	}
	.order-list {
		justify-content: space-between;
	}
	.order-nav {
		position: relative;
		font-size: .32rem;
		text-align: center;
		padding: .3rem 0;
		img {
			display: block;
			margin: 0 auto;
			width: 0.66rem;
			margin-bottom: .3rem;
		}
	}
	.num {
		position: absolute;
		top: 10%;
		right: 5%;
		border-radius: 50%;
		width: 0.31rem;
		height: 0.31rem;
		background-color: #ed3e33;
		border: solid 1px #ffffff;
		text-align: center;
		font-size: .24rem;
		line-height: .31rem;
		color: #fff;
	}
}

.look-btn {
	position: relative;
	font-size: .31rem;
	color: #808080;
	margin-left: auto;
	&::after {
		content: '';
		position: absolute;
		right: -.3rem;
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
		border: .1rem solid #808080;
		border-color: #808080 transparent transparent transparent;
	}
}

.user-menu {
	width: 9.44rem;
	margin: .3rem auto;
	justify-content: space-between;
	.menu-item {
		background: #fff;
		width: 4.63rem;
		padding: .3rem .4rem .6rem .3rem;
		box-shadow: 0.02rem 0.02rem 0.06rem 0rem 
				rgba(0, 0, 0, 0.05);
		border-radius: 0.09rem;
	}
	.menu-title {
		font-size: .42rem;
		font-weight: bold;
	}
	.menu-num {
		font-size: .67rem;
		font-weight: bold;
		padding-top: .64rem;
		text-align: center;
	}
	
	.menu-item:last-child {
		.menu-title {color: #000;}
	}
	.menu-item:first-child {
		.look-btn {color: #d5a36a; &::after {border-color: #d5a36a transparent transparent transparent;}}
		.menu-num {color: #D5A36A;}
	}
}

.tool-list {
	width: 9.44rem;
	background-color: #ffffff;
	box-shadow: 0.02rem 0.02rem 0.06rem 0rem 
		rgba(0, 0, 0, 0.05);
	border-radius: 0.09rem;
	padding: .4rem;
	flex-wrap: wrap;
	margin: .3rem auto;
	h2 {
		font-size: .47rem;
		font-weight: bold;
		width: 100%;
		margin-bottom: .3rem;
	}
	.tool-item {
		width: 25%;
		margin-top: .7rem;
		text-align: center;
		img {
			display: block;
			margin: 0 auto;
			width: 0.68rem;
			margin-bottom: .1rem;
		}
		&:nth-child(3) {
			img {margin-bottom: 0;}
		}
	}
}



/* 公用tab选项卡 */
.pub-tab {
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	top: 0;
	height: 0.94rem;
	background: #fff;
	box-shadow: 0rpx 0.12rem 0.16rem .1rem 
			rgba(0, 0, 0, 0.03);
}
.pub-tab-item {
	position: relative;
	flex: 1;
	height: 100%;
	text-align: center;
	font-size: .34rem;
	line-height: .94rem;
	
}

.pub-tab .active {
	color: #dc3028;
}
.pub-tab .active span {
	display: inline-block;
	height: 100%;
	position: relative;
}
.pub-tab .active span::after {
	position: absolute;
	content: '';
	left: 50%;
	transform: translateX(-50%);
	width: 0.87rem;
	height: 0.05rem;
	background-color: #ec333a;
	border-radius: 0.01rem;
	bottom: 0;
}

/* 11-订单中心 */
.order-body {
	background: #F1F2F7;
	padding-top: .94rem;
}
.order-item {
	width: 9.43rem;
	background-color: #ffffff;
	border-radius: 0.09rem;
	margin: .35rem auto;
	padding: .4rem .3rem;
	.guimai-list {width: 100%; padding: 0; margin: 0;}
	.cart-item {margin: 0;}
	.total {
		font-weight: bold;
		text-align: right;
		font-size: .31rem;
		padding-bottom: .3rem;
		border-bottom: 1px solid #F5F5F5;
		span {font-size: .42rem; color: #e91a1a;}
	}
	.btn-wrap {
		padding-top: .3rem;
		text-align: right;
		.btn {
			display: inline-block;
			width: 2.23rem;
			height: 0.72rem;
			line-height: .72rem;
			text-align: center;
			font-size: .34rem;
			color: #999;
			margin-left: .5rem;
			border-radius: 0.36rem;
			border: solid 0.01rem #d8d8d8;
		}
		.payful {
			background-image: linear-gradient(270deg, 
					#d92c24 0%, 
					#ef4f4f 100%);
			color: #fff;
			border-color: transparent;
		}
	}
}
.order-num {
	padding-bottom: .32rem;
	border-bottom: 1px solid #f5f5f5;
	font-size: .32rem;
	color: #999;
	span {margin-left: auto; font-size: .33rem; color: #ea0202; font-weight: bold;}
	.wait {color: #fe6a1a;}
}

.order-gm-body {
	background: #F1F2F7;
	padding-top: .94rem;
	.btn-wrap {
		.time {font-size: .32rem; color: #999;}
		.btn {margin-left: auto;}
	}
}



/* 12-订单详情 */

.order-detail {
	background: #F1F2F7;
	padding-bottom: 1rem;
	.header {
		height: 4.88rem;
		background-image: linear-gradient(0deg, 
			#ea4b2f 0%, 
			#e73951 100%);
		padding: .5rem;
		color: #fff;
		h2 {font-size: .52rem; }
		h3 {font-size: .33rem; padding: .2rem 0 .24rem 0;}
		p {font-size: .29rem;}
	}
	.guimai-list {
		margin: 0;
		width: 100%;
		padding: 0;
	}
	.total {
		text-align: right;
		font-size: .33rem;
		padding: 0 .3rem .3rem .3rem;
		font-size: .33rem;
		text-align: right;
		border-bottom: 1px solid #e5e6ed;
	}
	.bottom-btn {
		padding: 0;
		height: auto;
		.btn {
			flex: 1;
			padding: .4rem 0;
			line-height: 1em;
			font-size: .39rem;
			border-radius: 0;
			color: #666666;
			background: #fff;
		}
		.pay-btn {
			background-image: linear-gradient(270deg, 
					#f13037 0%, 
					#f16322 100%);
			color: #fff;
		}
	}
	
	.info-wrap {
		padding: .5rem;
		width: 100%;
		font-weight: normal;
		font-size: .37rem;
		color: #aba9a9;
		span {margin-left: .2rem; color: #000; font-weight: normal;}
		.info-item {
			margin-bottom: .3rem; 
		}
	}
	
}
.detail-status {
	width: 9.41rem;
	background-color: #ffffff;
	border-radius: 0.09rem;
	margin: -1.5rem auto .4rem;
	.top {
		padding: .4rem .2rem;
		color: #000;
		font-size: .33rem;
		font-weight: bold;
		.huo-icon {
			width: 0.34rem;
			margin-right: .15rem;
		}
		.next-btn {
			margin-left: auto;
			font-size: .42rem;
			color: #000;
			font-weight: bold;
		}
		
	}
	
	.bottom {
		font-size: .33rem;
		padding: 0 .2rem .3rem .2rem;
		color: #999;
		.head {
			padding-top: .3rem;
			border-top: 1px solid #e5e6ed;
			font-size: .39rem;
			color: #000;
			margin-bottom: .15rem;
			img {width: .3rem; margin-right: .15rem;}
			.phone {margin-right: .4rem;}
		}
		.text {
			padding-left: .4rem;
		}
	}
	
	
}

.youhui-item {
	padding: .5rem;
	background: #fff;
	border-bottom: 1px solid #F1F2F7;
	font-size: .41rem;
	.right {
		margin-left: auto;
		font-size: .42rem;
		font-weight: bold;
		color: #f40b1a;
	}
	.black-color {
		color: #000;
	}
}



/* 13-个人设置 */
.setting-body {
	background: #F1F2F7;
	padding: .3rem 0;
}

.set-item {
	background: #fff;
	padding: .6rem .4rem;
	font-size: .39rem;
	font-weight: bold;
	border-bottom: 1px solid #F1F2F7;
	.right {
		font-weight: normal;
		font-size: .37rem;
		color: #999;
		margin-left: auto;
	}
	&.user-item {
		padding: .3rem .4rem;
	}
	.user-head {
		width: 1.69rem;
		height: 1.69rem;
		border-radius: .4rem;
	}
	.next-btn {
		font-family: '黑体';
		font-size: .42rem;
		color: #333;
		margin-left: .3rem;
	}
}

.logout-btn {
	width: 9.44rem;
	margin: 5rem auto .3rem;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	font-size: .37rem;
	font-weight: bold;
	display: block;
	background-color: #dcdcdc;
	border-radius: 0.09rem;
}

.setname-body {
	background: #F1F2F7;
	.tips {
		padding: .3rem .5rem;
		font-size: .35rem;
		color: #999;
	}
}
.input-item {
	padding: .4rem .5rem;
	background: #fff;
	input {
		font-size: .39rem;
	}
	img {
		margin-left: auto;
		width: .33rem;
	}
	
}

/* 14-修改支付密码-认证 */
.edit-body {
	background: #F1F2F7;
	padding: 1.16rem .5rem;
	h3 {
		font-size: .5rem;
		font-weight: bold;
		padding-bottom: .8rem;
	}
	.tips {
		font-size: .39rem;
		color: #000;
		margin-bottom: .43rem;
	}
	.code-wrap {
		input {
			width: 5.2rem;
			height: 1.16rem;
			line-height: 1.16rem;
			padding-left: .38rem;
			box-sizing: border-box;
			background-color: #ffffff;
			border-radius: 0.09rem;
		}
		.btn {
			width: 3.44rem;
			height: 1.16rem;
			line-height: 1.16rem;
			text-align: center;
			color: #fff;
			font-size: .43rem;
			margin-left: auto;
			background-color: #dc4037;
			border-radius: 0.09rem;
			&.disable {
				background: #cccccc;
				color: #fff;
			}
		}
	}
	
	.next-stape {
		display: block;
		width: 9.06rem;
		margin: 1rem auto;
		height: 1.32rem;
		line-height: 1.32rem;
		font-size: .58rem;
		color: #fff;
		text-align: center;
		background-color: #cccccc;
		border-radius: 0.09rem;
		&.enable {
			background-color: #dc4037;
		}
	}
}

.edit-pwd {
	h3 {
		padding-bottom: .3rem;
	}
	padding: .6rem .4rem;
	.code-wrap {
		input {
			display: block;
			width: 100%;
		}
	}
	.next-stape {
		margin-top: .5rem;
	}
}

.user-token {
	background-color: #F1F2F7;
	.head {
		height: 3.54rem;
		background-image: linear-gradient(180deg, 
			#e94b2f 0%, 
			#f13037 100%);
	}
	.my-token {
		position: relative;
		width: 9.18rem;
		margin: -2.5rem auto .7rem auto;
		padding: 1.1rem 0;
		text-align: center;
		background: url(../images/token-bg.png) no-repeat center;
		background-size: cover;
		h4 {font-size: .45rem; color: #301b00; margin-bottom: .2rem;}
		h2 {font-size: 1.04rem; color: #301b00; font-weight: bold;}
	}
	.cash-btn {
		position: absolute;
		top: .58rem;
		right: .2rem;
		width: 1.81rem;
		height: 0.61rem;
		text-align: center;
		line-height: .61rem;
		font-size: .39rem;
		color: #ffc736;
		background-color: #513805;
		border-radius: 0.28rem;
		opacity: 0.9;
	}
	
	.menu-item {
		padding: .6rem .36rem;
		background: #fff;
		border-bottom: 1px solid #F1F2F7;
		.icon {width: 0.48rem; margin-right: .3rem;}
		font-size: .39rem;
		.next-btn {
			width: 0.21rem;
			margin-left: auto;
		}
	}
}

/* 15-积分明细 */
.token-detail {
	background: #F1F2F7;
	& > .time {
		font-size: .33rem;
		color: #666;
		padding: .3rem .2rem;
	}
	.td-item {
		padding: .45rem .26rem;
		background-color: #fff;
		border-bottom: 1px solid #F1F2F7;
		h4 {
			font-size: .33rem;
			margin-bottom: .2rem;
		}
		.left-time {font-size: .32rem; color: #999;}
		.right {
			margin-left: auto;
			font-size: .5rem;
			font-weight: bold;
			span {font-size: .39rem;}
		}
		.red-color {
			color: #bb5656;
		}
		.green-color {
			color: #739e00;
		}
	}
	
}


/* 提现 */
.my-cash {
	.wrapper {
		background: #fff;
		padding: 0 .4rem;
		border: 1px solid transparent;
		box-sizing: border-box;
	}
	
	.tixian {
		padding: .5rem 0;
		border-bottom: 1px solid #ededed;
		flex-wrap: nowrap;
		font-size: .45rem;
		font-weight: bold;
	}
	
	.head {
		margin-left: auto;
		font-size: .39rem;
		color: #666;
		font-weight: normal;
		.icon {
			width: .39rem;
			margin-right: .2rem;
		}
	}
	
	.head .next-btn {
		width: 0.13rem;
		margin-left: .5rem;
	}
	
	.money {
		padding-top: .5rem;
		border-bottom: 1px solid #ededed;
	}
	
	.money .title {
		font-size: .45rem;
		font-weight: bold;
		margin-bottom: .6rem;
	}
	
	.input-item {
		position: relative;
		
		font-weight: bold;
		padding-left: 8%;
		padding-bottom: 0.2rem;
		input {
			font-size: 1rem;
		}
	}
	
	.symbol {
		position: absolute;
		top: 30%;
		left: 0;
		font-size: .77rem;
	}
	
	.tips {
		padding: .55rem 0;
		font-size: .33rem;
		color: #a9a9a9;
	}
	
	.tips text {
		color: #596c96;
	}
	
	.agree {
		font-size: .37rem;
		color: #000;
	}
	
	.agree .checkbox {
		margin-right: .18rem;
	}
	
	.btn {
		margin: 1rem auto;
		justify-content: center;
		width: 9.3rem;
		height: 1.13rem;
		background-image: linear-gradient(90deg, 
			#e4554e 0%, 
			#dc2829 100%), 
		linear-gradient(
			#fff6c8, 
			#fff6c8);
		background-blend-mode: normal, 
			normal;
		border-radius: 0.56rem;
		font-size: .43rem;
		color: #fff;
	}
	
}


/* 17-银行卡-编辑 */
.editcard-body {
	background: #F1F2F7;
	padding: .55rem .3rem;
	& > h2 {
		font-size: .43rem;
		font-weight: bold;
		text-align: center;
	}
	.wrap {
		width: 9.44rem;
		margin: .3rem auto;
		background-color: #ffffff;
		border-radius: 0.09rem;
		border: 1px solid transparent;
		padding: 0 .3rem;
	}
	.edit-item {
		font-size: .41rem;
		border-bottom: 1px solid #F1F2F7;
		padding: .6rem 0;
		input {
			margin-left: auto;
			text-align: right;
			font-size: .41rem;
		}
	}
	
	.btn {
		width: 8.22rem;
		justify-content: center;
		margin: .8rem auto;
		
		height: 1.1rem;
		background-image: linear-gradient(90deg, 
			#e4554e 0%, 
			#dc2829 100%), 
		linear-gradient(
			#3742fd, 
			#3742fd);
		background-blend-mode: normal, 
			normal;
		text-align: center;
		border-radius: 0.09rem;
		font-size: .46rem;
		color: #fff;
	}
}

/* 18-地址管理 */
.address-edit {
	.add-btn {
		position: fixed;
		z-index: 5;
		bottom: .8rem;
		width: 9.25rem;
		height: 1.06rem;
		line-height: 1.06rem;
		left: .37rem;
		text-align: center;
		font-size: .4rem;
		color: #fff;
		background-image: linear-gradient(90deg, 
			#e4554e 0%, 
			#dc2829 100%), 
		linear-gradient(
			#eb564b, 
			#eb564b);
		background-blend-mode: normal, 
			normal;
		border-radius: 0.53rem;
	}
}
.address-item {
	position: relative;
	padding: .4rem;
	border-bottom: 1px solid #F1F2F7;
	.username {
		font-size: .41rem;
		font-weight: bold;
		.phone {margin-left: .3rem;}
		.status {
			margin-left: .55rem;
			padding: 0 .2rem;
			font-size: .28rem;
			color: #fff;
			background-color: #f09537;
			border-radius: 0.09rem;
			font-weight: normal;
		}
	}
	.address-text {
		font-size: .33rem;
		color: #666;
		margin-top: .27rem;
		max-width: 80%;
	}
	.edit-btn {
		width: 0.41rem;
		position: absolute;
		right: .3rem;
		bottom: .4rem;
	}
}

/* 18-地址管理-添加 */
.address-edit {
	.edit-wrap {
		padding-left: .4rem;
		background: #fff;
	}
	.edit-item {
		padding: .4rem .4rem .4rem 0;
		border-bottom: 1px solid #F1F2F7;
		background: #fff;
		font-size: .39rem;
		&:first-child input {
			padding-left: .4rem;
		}
		input {
			flex-grow: 1;
			margin-left: 1.16rem;
			font-size: .39rem;
		}
	}
	.default {
		padding: .4rem;
		font-size: .39rem;
		background: #fff;
		margin: .4rem 0;
		.right {
			margin-left: auto;
			font-size: .33rem;
			color: #666;
			.checkbox {margin-right: .14rem;}
		}
	}
}


/* 19-团队 */
.team-body {
	& > .head {
		position: relative;
		padding: .8rem .45rem;
		color: #fff;
		height: 3.5rem;
		background: url(../images/team-bg.jpg) no-repeat center; 
		background-size: cover;
		h2 {
			font-size: 1.08rem;
			margin-bottom: .2rem;
			font-weight: bold;
		}
		p {font-size: .36rem;}
	}
	.btn {
		position: absolute;
		right: .45rem;
		top: 50%;
		transform: translateY(-50%);
		width: 2.88rem;
		height: 0.88rem;
		justify-content: center;
		background-color: #ffffff;
		border-radius: 0.42rem;
		font-size: .39rem;
		color: #e75e48;
		img {
			width: 0.34rem;
			margin-right: .15rem;
		}
	}
	
	.tab {
		background: #ebebeb;
		font-size: .41rem;
		color: #666666;
		.tab-item {
			flex: 1;
			padding: .35rem 0;
			text-align: center;
			font-weight: bold;
		}
		
		.active {
			position: relative;
			z-index: 2;
			color: #000;
			span {position: relative; z-index: 2;}
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: url(../images/team-tab-bg.png) no-repeat center;
				background-size: 100%;
			}
		}
		.tab-item.active:last-child::after {
			transform: rotate(180deg);
		}
	}
	
	.fan-item {
		width: 9.43rem;
		margin: .45rem auto;
		padding: .13rem .2rem;
		background-color: #ffffff;
		border-radius: 0.09rem;
		img {
			width: 1.3rem;
			height: 1.3rem;
			border-radius: 50%;
			border: solid 0.03rem #fed582;
		}
		.username {
			font-size: .39rem;
			color: #4e4e4e;
			padding-left: .43rem;
		}
		.right {
			font-size: .28rem;
			color: #999;
			margin-left: auto;
			line-height: 1.5em;
			span {display: block;}
		}
	}
	
	.xiaofei-item {
		margin: .4rem auto;
		background: #fff;
		padding: .25rem;
		.head {
			padding-bottom: .2rem;
			position: relative;
			font-size: .33rem;
			color: #a3a3a3;
			&::after {
				content: '';
				position: absolute;
				height: 1px;
				width: 9.06rem;
				background: #ebebeb;
				right: 0;
				bottom: 0;
			}
			img {
				width: 0.54rem;
				height: 0.54rem;
				margin-right: .16rem;
			}
			.time {margin-left: auto;}
		}
		
		.pro-wrap {
			position: relative;
			flex-wrap: wrap;
			padding-left: .51rem;
			padding-right: .5rem;
			align-items: flex-start;
			padding-bottom: .23rem;
			font-size: .34rem;
			font-weight: bold;
			border-bottom: 1px solid #ebebeb;
			img {
				width: 1.23rem;
				margin-right: .25rem;
			}
			.price {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: .4rem;
				font-weight: bold;
				font-size: .34rem;
			}
		}
		
		.num {
			display: block;
			text-align: right;
			color: #999999;
			margin-top: .1rem;
			font-size: .28rem;
		}
		
		.ticheng {
			padding-top: .3rem;
			text-align: right;
			font-size: .34rem;
			color: #ce7063;
		}
	}	
}

/* 20-优惠券 */
.token-body {
	background: #F1F2F7;
	padding: .3rem;
	.token-item {
		@extend .token;
		background: #fff;
		margin-bottom: .34rem;
	}
}


/* 21-申请代理*/
.apply-body {
	background: url(../images/daili-bg.jpg) no-repeat;
	background-size: 100%;
	.text-wrap {
		margin-top: 6.73rem;
	}
	&  h3 {
		font-size: .61rem;
		text-align: center;
		font-weight: bold;
		color: #e23228;
		margin-bottom: .4rem;
	}
	select {
		position: relative;
		background: url(../images/select-btn.png) no-repeat 95% 50%;
		background-size: .3rem;
	}
	.input {
		display: block;
		width: 8.04rem;
		padding-left: .53rem;
		font-size: .37rem;
		margin: 0 auto;
		height: 1.15rem;
		background-color: #f7f7fa;
		margin-bottom: .4rem;
		border-radius: 0.04rem;
	}
	.btn {
		width: 7.94rem;
		height: 1.13rem;
		margin: 0 auto;
		justify-content: center;
		font-size: .42rem;
		color: #fff;
		background-image: linear-gradient(90deg, 
			#d9241a 0%, 
			#e5362c 100%);
		border-radius: 0.04rem;
	}
}

/* 22-登录 */
.login-body {
	background: url(../images/login-bg.jpg) no-repeat 0%;
	background-size: 100%;
}
.login-head {
	padding: 1rem 0;
	text-align: center;
	font-size: .39rem;
	img {
		display: block;
		margin: 0 auto;
		width: 1.7rem;
		height: 1.7rem;
		margin-bottom: .24rem;
	}
}
.login-wrap {
	padding: 0 1rem;
	.title {
		font-size: .58rem;
		font-weight: bold;
		margin-bottom: .9rem;
	}
	.input {
		display: block;
		width: 100%;
		margin-bottom: .6rem;
		padding-bottom: .33rem;
		border-bottom: 1px solid #F1F2F7;
		font-size: .39rem;
	}
	.input-pwd {
		background: url(../images/nosee-icon.png) no-repeat 95% center;
		background-size: .3rem;
	}
	.forget {
		display: block;
		width: 100%;
		font-size: .33rem;
		color: #404040;
		text-align: right;
	}
	.login-btn {
		width: 7.05rem;
		height: 1.08rem;
		justify-content: center;
		font-size: .45rem;
		color: #fff;
		margin: .44rem auto;
		background-color: #d3d6db;
		border-radius: 0.54rem;
		&.enable {
			background: #eb2d2f;
		}
	}
	.tips {
		font-size: .32rem;
		text-align: center;
		color: #999;
		a {color: #dd353e;}
	}
	.tips2 {
		font-size: .35rem;
		text-align: center;
		margin-top: 2rem;
		a {color: #3e4a59;}
	}
	
	.code-input {
		position: relative;
		.get-code {
			position: absolute;
			font-size: .39rem;
			color: #de3c43;
			right: 0;
			top: 0;
		}
	}
}

/* 24-注册-协议 */
.agreement {
	padding: .3rem;
	background: #F1F2F7;
	
	.text {
		font-size: .4rem;
		line-height: 2em;
	}
	
}